<h2>Sign Up Confirmation</h2>
  <br>
    <h3>Are you sure these values are correct?</h3>
  <br>
    <h4> Email: <%= @user.email %>  </h4>
    <h4> Name:  <%= @user.name %> </h4>
  <br>
    <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
    <a class="btn btn-danger" href=new>No</a>
